body {
font-family: 'Lato', sans-serif;
background-color: #f0f0f0;

}

.cnet.fa-viber {color:purple;}
.cnet.fa-whatsapp {color:green;}
.cnet {text-decoration:none;}
.cnet:hover{text-decoration: none;}
.cnet:visited {text-decoration: none;}
.cnet:active{text-decoration: none;}


.cnet {
    font-size:20px;
    border:0;
    margin-right: 10px;
    margin-left: 10px;
}




.frm{
    border: 2px solid black;  
    border-radius: 5px;  
    width:100%;
    margin-top: 10px;
    background-color: #f0f0f1;
    
}

.cf { 
    
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */ 
    text-decoration: none; /* Убираем подчёркивание */ 
    color: #000; /* Цвет текста */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */ 
    color: #a00;
} 

.c { 
    
    border: 1px solid #333; 
    display: inline-block;
    padding: 5px 15px; 
    text-decoration: none;
    color: #000;
} 

.c:hover { 
    
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */ 
    color: #a00;
}
